.signup {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  z-index: 10;
}

.form-container .local-signup {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.form-container .signup-form {
  width: 60%;
  padding: 10px 30px 30px;
}