.signup-container {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
}

.form-container .local-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container .signup-form .main {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .signup-container {
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .signup-container {
    width: 800px;
  }

  .form-container form h1 {
    font-size: 140%;
  }
}

@media screen and (min-width: 1300px) {
  .signup-container {
    width: 900px;
  }
}