.char-box {
  border: solid 2px black;
  height: 500px;
  opacity: 0.75;
  z-index: 0;
}

.img-container {
  width: 250px;
  height: 250px;
  margin: auto;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.img-container img {
  height: 100%;
  position: relative;
  z-index: 1;
}

.character-battle-name {
  text-align: center;
  font-family: "berserk";
  font-weight: 100;
  color: black;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 1.9px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  text-shadow: 5px 3px 4px grey;
}

.attack-bttn {
  height: 5rem;
  width: 5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  transform: rotate(345deg);
}

.attack-bttn:hover {
  cursor: pointer;
  position: relative;
  z-index: 1;
  transform: rotate(30deg);
}
