.result-item {
  clear: both;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin: 20px 0;
  padding: 12px;
  overflow: hidden;
}

.top-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .top-wrapper {
    flex-direction: column;
  }

  .main-details h3 {
    text-align: center;
  }
}

.top-wrapper .main-details {
  flex: 80%;
}

.top-wrapper .buttons {
  flex: 20%;
}

.main-details h1 {
  margin: 0;
  font-size: 150%;
  margin-bottom: 5px;
}

.main-details h3 {
  font-size: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.description img {
  /* display: flex; */
  /* align-items: center; */
  float: left;
  margin-right: 10px;
}

/* .description p {
  padding: 10px;
} */

.btn {
  margin-right: 5px;
}