html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* .hero-wrapper {
  min-height: 100%;
  background-size: cover;
} */

.landing-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: rgba(58, 58, 58, 0.3);
}

.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../../images/landing-page.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */

@font-face {
  font-family: "royal";
  src: url(../../Font/CAELDERA.TTF);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "metror";
  src: url(../../Font/metror.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "berserk";
  src: url(../../Font/Berserker-Regular.ttf);
  font-style: normal;
  font-weight: 50;
}
@font-face {
  font-family: "ace";
  src: url(../../Font/LUMOS.TTF);
  font-style: normal;
  font-weight: 100;
}

.sub-title {
  padding: 400px 0 0 20px;
  font-family: "berserk";
  font-weight: 50;
  color: #fff;
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.summary {
  margin: 0 150px 0 150px;
  align-content: center;
  font-family: "metror";
  font-weight: 200;
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.container {
  width: 100%;
  height: 100%;
}
.container > h1 {
  padding-top: 20px;
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: "royal";
  font-weight: 100;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.git {
  display: block;
  padding-bottom: 40px;
  position: absolute;
  bottom: 8px;
  left: 30px;
  width: 70px;
  height: 70px;
  color: #fff;
}
.insta {
  display: block;
  padding-bottom: 40px;
  position: absolute;
  bottom: 8px;
  left: 80px;
  width: 70px;
  height: 70px;
  color: #fff;
}
.rating {
  display: block;
  padding-bottom: 40px;
  position: absolute;
  bottom: 8px;
  right: 30px;
  width: 100px;
  height: 100px;
  color: #fff;
}
.fog {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #fff;
  overflow-x: hidden;
}

.fog-img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  pointer-events: none;
}

.fog-img-first {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
  overflow-x: hidden;
}

.fog-img-second {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
  overflow-x: hidden;
}
@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

/* The Styling for the join button */

@import url("https://fonts.googleapis.com/css?family=Merriweather");
body {
  text-align: center;
}

.btn {
  padding: 20px 30px;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  border: 2px solid white;
  outline: none;
  color: white;
  background-color: transparent;
  margin-top: 70px;
  font-family: "metror";
  white-space: nowrap;
}
.btn--border::after,
.btn--border::before,
.btn--border span::after,
.btn--border span::before {
  content: "";
  position: absolute;
  background-color: white;
  transition: 0.5s ease;
}
.btn--border::after,
.btn--border::before {
  height: 100%;
  width: 2px;
  top: -2px;
}
.btn--border::after {
  left: -2px;
}
.btn--border::before {
  right: -2px;
}
.btn--border span::after,
.btn--border span::before {
  height: 2px;
  width: 100%;
  left: -2px;
}
.btn--border span::after {
  top: -2px;
}
.btn--border span::before {
  bottom: -2px;
}
.btn--border:hover:after {
  transform: translatex(-12px);
}
.btn--border:hover:before {
  transform: translatex(12px);
}
.btn--border:hover span::after {
  transform: translatey(-12px);
}
.btn--border:hover span::before {
  transform: translatey(12px);
}
.btn--swap span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  font-size: 40px;
  box-sizing: border-box;
  opacity: 0;
  color: black;
  transition: 0.35s ease;
}
.btn--swap::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: white;
  transition: 0.5s ease;
}
.btn--swap:hover:before {
  width: 100%;
}
.btn--swap:hover span {
  opacity: 1;
}
.btn--future::after,
.btn--future::before {
  content: "";
  position: absolute;
  border: 2px solid white;
  width: calc(100% + 15px);
  height: 60px;
  transition: 0.5s ease;
}
.btn--future::after {
  top: -15px;
  left: -15px;
  border-right: none;
  border-bottom: none;
}
.btn--future::before {
  bottom: -15px;
  right: -15px;
  border-left: none;
  border-top: none;
}
.btn--future:hover:after,
.btn--future:hover:before {
  width: calc(100% - 30px);
  height: 80px;
}

/* LENSE FLAIR */

.light {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  margin: 0;
  background: #fff;
  -moz-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  -webkit-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  -moz-animation: flaremove 5s alternate infinite ease-in-out,
    lightbright 5s alternate infinite linear;
  -webkit-animation: flaremove 5s alternate infinite ease-in-out,
    lightbright 5s alternate infinite linear;
  animation: flaremove 5s alternate infinite ease-in-out,
    lightbright 5s alternate infinite linear;
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
}

.flare {
  position: absolute;
  top: 80%;
  left: 80%;
  -moz-animation: flaremove 5s alternate infinite ease-in-out;
  -webkit-animation: flaremove 5s alternate infinite ease-in-out;
  animation: flaremove 5s alternate infinite ease-in-out;
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
}
.flare.one {
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  -moz-box-shadow: inset 0px 0px 20px 2px rgba(190, 190, 240, 0.125),
    0px 0px 20px 0px rgba(190, 190, 240, 0.125);
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(190, 190, 240, 0.125),
    0px 0px 20px 0px rgba(190, 190, 240, 0.125);
  box-shadow: inset 0px 0px 20px 2px rgba(190, 190, 240, 0.125),
    0px 0px 20px 0px rgba(190, 190, 240, 0.125);
}
.flare.two {
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  -moz-box-shadow: inset 0px 0px 100px 2px rgba(200, 230, 200, 0.125),
    0px 0px 13px 2px rgba(200, 230, 200, 0.125);
  -webkit-box-shadow: inset 0px 0px 100px 2px rgba(200, 230, 200, 0.125),
    0px 0px 13px 2px rgba(200, 230, 200, 0.125);
  box-shadow: inset 0px 0px 100px 2px rgba(200, 230, 200, 0.125),
    0px 0px 13px 2px rgba(200, 230, 200, 0.125);
}
.flare.three {
  margin: -300px 0 0 -300px;
  width: 600px;
  height: 600px;
  -moz-box-shadow: inset 0px 0px 22px 2px rgba(255, 50, 50, 0.25),
    0px 0px 13px 2px rgba(255, 50, 50, 0.25);
  -webkit-box-shadow: inset 0px 0px 22px 2px rgba(255, 50, 50, 0.25),
    0px 0px 13px 2px rgba(255, 50, 50, 0.25);
  box-shadow: inset 0px 0px 22px 2px rgba(255, 50, 50, 0.25),
    0px 0px 13px 2px rgba(255, 50, 50, 0.25);
}
.flare.four {
  margin: 20% 0 0 20%;
  width: 100px;
  height: 100px;
  -moz-box-shadow: inset 0px 0px 160px 2px rgba(50, 180, 50, 0.125),
    0px 0px 20px 2px rgba(50, 180, 50, 0.125);
  -webkit-box-shadow: inset 0px 0px 160px 2px rgba(50, 180, 50, 0.125),
    0px 0px 20px 2px rgba(50, 180, 50, 0.125);
  box-shadow: inset 0px 0px 160px 2px rgba(50, 180, 50, 0.125),
    0px 0px 20px 2px rgba(50, 180, 50, 0.125);
}
.flare.five {
  margin: -5% 0 0 -5%;
  width: 60px;
  height: 60px;
  -moz-box-shadow: inset 0px 0px 160px 2px rgba(200, 220, 80, 0.25),
    0px 0px 20px 2px rgba(200, 220, 80, 0.25);
  -webkit-box-shadow: inset 0px 0px 160px 2px rgba(200, 220, 80, 0.25),
    0px 0px 20px 2px rgba(200, 220, 80, 0.25);
  box-shadow: inset 0px 0px 160px 2px rgba(200, 220, 80, 0.25),
    0px 0px 20px 2px rgba(200, 220, 80, 0.25);
}
.flare.six {
  margin: 20% 0 0 20%;
  width: 20px;
  height: 20px;
  -moz-box-shadow: inset 0px 0px 18px 10px rgba(150, 220, 220, 0.25),
    0px 0px 5px 0px rgba(150, 220, 220, 0.25);
  -webkit-box-shadow: inset 0px 0px 18px 10px rgba(150, 220, 220, 0.25),
    0px 0px 5px 0px rgba(150, 220, 220, 0.25);
  box-shadow: inset 0px 0px 18px 10px rgba(150, 220, 220, 0.25),
    0px 0px 5px 0px rgba(150, 220, 220, 0.25);
}

@-moz-keyframes flaremove {
  0% {
    left: 20%;
    top: 40%;
  }
  100% {
    left: 80%;
    top: 60%;
  }
}
@-webkit-keyframes flaremove {
  0% {
    left: 20%;
    top: 40%;
  }
  100% {
    left: 80%;
    top: 60%;
  }
}
@keyframes flaremove {
  0% {
    left: 20%;
    top: 40%;
  }
  100% {
    left: 80%;
    top: 60%;
  }
}
@-moz-keyframes lightmove {
  0% {
    left: 80%;
    top: 60%;
  }
  100% {
    left: 20%;
    top: 40%;
  }
}
@-webkit-keyframes lightmove {
  0% {
    left: 80%;
    top: 60%;
  }
  100% {
    left: 20%;
    top: 40%;
  }
}
@keyframes lightmove {
  0% {
    left: 80%;
    top: 60%;
  }
  100% {
    left: 20%;
    top: 40%;
  }
}
@-moz-keyframes lightbright {
  0% {
    -moz-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  50% {
    -moz-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  100% {
    -moz-box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
    box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
  }
}
@-webkit-keyframes lightbright {
  0% {
    -webkit-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  50% {
    -webkit-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  100% {
    -webkit-box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
    box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
  }
}
@keyframes lightbright {
  0% {
    -moz-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    -webkit-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  50% {
    -moz-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    -webkit-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  100% {
    -moz-box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
    -webkit-box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
    box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
  }
}
