.choose-allegiance {
  max-height: 100vh;
}

.alliance-container {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  max-height: 50vh;
}

.choose-allegiance #alliance0 {
  background: url("../../images/Faction-War/Choose-Alliance-Resources/jason-nguyen-waterknight-jasonnguyen.jpg")
    no-repeat;
  background-size: cover;
  transition: transform 0.5s;
  max-height: 50vh;
}

.choose-allegiance #alliance0:active {
  transform: scale(1.15);
}

.rain {
  height: 100vh;
  background: url("../../images/rain.png");
  animation: rain 0.3s linear infinite;
}

.choose-allegiance #alliance1 {
  background: url("../../images/coffee-man-darkgamebl2-sh-mmm.jpg");
  background-size: cover;
  overflow-x: hidden;
  max-width: 100%;
  max-height: 50vh;
  min-width: 100%;
}

.fog-wrapper-alliance {
  position: relative;
  height: 50vh;
  width: 100%;
  background: #fff;
  overflow-x: hidden;
  transition: transform 0.5s;
  overflow-y: hidden;
}

.fog-img-alliance {
  position: absolute;
  height: 50vh;
  width: 300vw;
  pointer-events: none;
}

.fog-alliance {
  position: absolute;
  height: 50vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-x: hidden;
  max-width: 100%;
  transition: transform 0.5s;
}

.fog-alliance:active {
  transform: scale(1.15);
}

.alliance-fog-1 {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

.alliance-fog-2 {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

@media screen and (min-width: 1024px) {
  .choose-allegiance {
    display: flex;
  }

  .alliance-container {
    flex: 1;
    max-height: 100vh;
  }

  .choose-allegiance #alliance0 {
    max-height: 100vh;
  }

  .choose-allegiance #alliance0:hover {
    transform: scale(1.15);
  }

  .choose-allegiance #alliance1 {
    max-width: 100%;
    max-height: 100vh;
  }

  .fog-wrapper-alliance {
    height: 100vh;
  }

  .fog-img-alliance {
    height: 100vh;
  }

  .fog-alliance {
    height: 100vh;
    width: 50vw;
  }

  .fog-alliance:hover {
    transform: scale(1.15);
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 25% 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
