#battle-bg {
  border: solid 2px black;
  margin-top: -60px;
}

.battle-page {
  max-height: 100vh;
}

.battle-page .char-box {
  background-color: rgba(255, 255, 255, 0.75);
}

@media screen and (min-width: 1024px) {
  .battle-page {
    overflow-y: hidden;
  }
}