@font-face {
  font-family: "metror";
  src: url(../../Font/metror.ttf);
  font-style: normal;
  font-weight: 200;
}

ul {
  padding: 0;
  margin-left: 20px;
}

.character-selection {
  position: absolute;
}

.character-select-wrap {
  display: inline-block;
  margin-top: 10px;
  position: relative;
  height: 100%;
  width: 140px;
}

.character-select-image {
  -ms-transform: skew(-5deg, 0deg);
  -webkit-transform: skew(-5deg, 0deg);
  transform: skew(-5deg, 0deg);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
  height: 160.85px;
  width: 135px;
  margin-top: 5rem;
}

.character-select-image:hover {
  -ms-transform: skew(-5deg, 0deg);
  -webkit-transform: skew(-5deg, 0deg);
  transform: skew(-5deg, 0deg);
}

.character-select-name {
  padding: 10px;
  position: relative;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0;
  display: none;
  font-family: "metror";
  font-weight: 200;
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.character-select-wrap:hover .character-select-name {
  visibility: visible;
  opacity: 1;
  font-size: 1.9rem;
  text-align: center;
  color: white;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.character-select-description {
  text-align: center;
  visibility: hidden;
  font-family: "metror";
  font-weight: 200;
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.character-select-wrap:hover .character-select-description {
  visibility: visible;
  opacity: 1;
  font-size: 1.9rem;
  text-align: center;
  color: white;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

@media only screen and (max-width: 775px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  h1 {
    font-size: 500%;
  }

  .btn {
    padding: 10px;
  }

  h5 {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  #perks-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 750px) {
  /* For mobile phones: */
  .character-selection {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}

@media only screen and (max-width: 650px) {
  /* For mobile phones: */
  .character-selection {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}
