.character-selection {
  position: absolute;
}

.character-select-wrap {
  display: inline-block;
  margin-top: 20px;
  position: relative;
  height: 200px;
  width: 257px;
}

.character-select-image {
  -ms-transform: skew(-5deg, 0deg);
  -webkit-transform: skew(-5deg, 0deg);
  transform: skew(-5deg, 0deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 267.85px;
  width: 215px;
}

.character-select-image:hover {
  box-shadow: 0 30px 80px 0 rgb(0, 0, 0);
  -ms-transform: skew(-5deg, 0deg);
  -webkit-transform: skew(-5deg, 0deg);
  transform: skew(-5deg, 0deg);
  transform: scale(1.1);
}

.character-select-name {
  padding: 10px;
  position: relative;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 2s ease;
}

.character-select-wrap:hover .character-select-name {
  visibility: visible;
  opacity: 1;
  font-size: 40px;
  text-align: center;
  color: white;
}

.character-select-description {
  text-align: center;
  visibility: hidden;
  transition: all 2s ease;
}

.character-select-wrap:hover .character-select-description {
  visibility: visible;
  opacity: 1;
  font-size: 20px;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 775px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  h1 {
    font-size: 500%;
  }

  .btn {
    padding: 10px;
  }

  h5 {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  #perks-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 750px) {
  /* For mobile phones: */
  .character-selection {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}

@media only screen and (max-width: 650px) {
  /* For mobile phones: */
  .character-selection {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}
