@font-face {
  font-family: "redivivaregular";
  src: url("rediviva-webfont.woff2") format("woff2"),
    url("rediviva-webfont.woff") format("woff");
}

.character-selection {
  z-index: 20;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
}

.character-selection h1 {
  text-align: left;
  font-family: "redivivaregular";
  letter-spacing: 0.25rem;
  margin-top: 8px;
  margin-left: 16px;
  font-weight: 100;
  color: #fff;
  font-size: 4rem;
  padding-top: 20px;
}

.back-wrapper {
  display: flex;
  color: white;
  font-size: 20px;
  /* align-items: center; */
}
