.navbar {
  padding: 0;
}

.nav-link {
  padding: 1rem;
  text-align: center;
}

.navbar-brand {
  padding: 0 1rem;
}

.navbar-brand {
  margin: 0 auto;
}

.active {
  background-color: rgb(228, 227, 227);
}

.button-wrapper {
  padding: 10px;
  display: none;
}

@media screen and (max-width: 991px) {
  .button-wrapper {
    display: inline-block;
  }
  .navbar-brand {
    margin: 0;
  }
}